.home-banner {
  background-color: #f0f0f0;
  padding: 40px 0;
  text-align: center;
}

.home-banner-caption {
  max-width: 600px;
  margin: 0 auto;
}

.home-banner-caption img {
  max-width: 100%;
  margin-bottom: 20px;
}

.home-banner-caption h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.home-banner-caption .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.home-banner-caption .btn:hover {
  background-color: #0056b3;
}

.home-banner-list {
  background-color: #fff;
  padding: 40px 0;
}

.hometop_banner_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Enable wrapping */
  justify-content: center;
}

.hometop_banner_list li {
  text-align: center;
  margin: 20px 10px; /* Adjusted margin */
  width: calc(33.33% - 20px); /* Set width for three columns with margin */
  border: 2px solid #F4F6F8;
  padding: 10px;
}

.hometop_banner_list li img {
  margin: auto;
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
}

.profile-label {
  padding: 0px !important;
  background-color: #F4F6F8 !important;
  width: 100%;
}


.profile-item {
  list-style: none;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.profile-image {
  width: 100px;
  margin: auto;
  display: block;
}

.profile-info {
  margin-top: 10px;
}

.profile-label {
  font-weight: bold;
}

@media (max-width: 990px) {
  .hometop_banner_list li {
    width: calc(100% - 20px); 
    margin: 10px;
  }
}